body {
    margin: 0;
}

body .bg {
    background-color: royalblue;
    clip-path: polygon(0 0, 80% 0%, 54% 100%, 0 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}